<div class="overflow-auto">
    <table role="grid" style="font-size: 0.85rem;">
        <thead>
            <tr>
              <th>Route</th>
	      <th>Time</th>
                <th>Dur.</th>
              <th>Cond.</th>
            </tr>
        </thead>
        <tbody>
            {% for ride in rides %}
            <tr class="clickable-row" hx-get="/rides/{{ ride.id }}/edit" hx-target="#modal-container" hx-swap="innerHTML">
	      <td>
              <strong>{{ ride.route }}
	      </strong>
	      <br>
              <span class="data-small">{{ ride.direction }}
	      </span>
            </td>
            <td>
              <span class="data-small">{{ ride.start_str }}
	      </span>
            </td>
            <td>
              <strong>{{ ride.duration }}
	      </strong>
            </td>
            <td>
              {{ ride.temp }}°C ({{ ride.precip_next_hour }}mm)
	      <br>
              <span class="data-small">{{ ride.wind_speed }}m/s {{ ride.wind_arrow }}</span>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
